<h1>Witaj, świecie okrutny!</h1>
<p>Chociaż dzięki CI nieco mniej okrutniejszy :v</p>
<span>A w razie problemów, zgłosi się Sentry</span>
<div>Po co sie pchać w Travis.org jak można w Travis.com?</div>

<%= link_to "stwórz melansz", new_melange_path %>

<%= link_to "Wyloguj mie tu", destroy_user_session_path, method: :delete %>
