<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <p>
      Z poważaniem, zespół Valczykangera.
    </p>

    <p>
      Ta wiadomość została wysłana automatycznie. Proszę, nie odpowiadaj na nią!
    </p>
  </body>
</html>
